= form.text_field :title, :id => (@gallery.new_record?? 'slugify' : nil)
= form.text_field :identifier, :id => 'slug'
= form.text_area  :description
= form.select :layout, options_for_select(@layouts, @gallery.layout), {include_blank: false}
- if defined?(ComfortableMexicanSofa) 
	= render :partial => 'comfy/admin/cms/categories/form', :object => form 

%hr
.col-sm-12
	%h3= t('comfy.admin.gallery.galleries.image_properties')
	.col-sm-12
		%p= t('comfy.admin.gallery.galleries.image_properties_description')
= form.text_field :full_width 
= form.text_field :full_height 
= form.check_box :force_ratio_full
/ = form.text_field :thumb_width 
/ = form.text_field :thumb_height 
/ = form.check_box :force_ratio_thumb, :label => "Force Width and Height (otherwise, original image ratio is maintained)" 

= form.submit
