.page-header
	= link_to t('comfy.admin.gallery.photos.return_to') + " #{@gallery.title}", comfy_admin_gallery_photos_path(@site, @gallery)
	%h2= t('comfy.admin.gallery.photos.new') 

= comfy_gallery_form_for @photo, :url => { :action => :create }, :html => { :multipart => true } do |form|
	= render form
