-# Expected variables:
-#		gallery - Gallery of images to display
-#		cols - # of columns

- if gallery.present?
    %h3= gallery.title
    %section.photos.row
        - gallery.photos.each do |photo|
            .col-xs-6.col-md-3
                .thumbnail
                    = link_to photo.image.url(:full), title: photo.title, class:'photo' do
                        = gallery_image_tag(photo, 'full', size: '324x192')
                    .caption
                        %div= photo.title if photo.title.present?
                        %div{class:'small'}= photo.description if photo.description.present?
